fastapi
uvicorn
neo4j
pydantic

langgraph
langchain
langchain-core
langchain-community
openai
prompt-toolkit
prompt-toolkit

chromadb
opentelemetry-api
opentelemetry-sdk
tenacity
jinja2
langchain-google-genai
langchain-anthropic
